/**
 * OpsHub 全局基础样式
 */

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 修复弹窗打开时滚动条消失导致的页面抖动 */
html {
  overflow-y: scroll;
}

body.el-popup-parent--hidden {
  padding-right: 0 !important;
  overflow: hidden !important;
}

.el-overlay {
  scrollbar-width: none !important;
}

.el-overlay::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.el-overlay-dialog {
  overflow: auto !important;
  scrollbar-width: none !important;
}

.el-overlay-dialog::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
